.caseSummaryPage {
  h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  & :global(.govuk-summary-list) {
    margin-bottom: 3.75rem;
  }

  & :global(.govuk-fieldset.govuk-form-group) {
    margin-bottom: 1.875rem;
  }
  & :global(.govuk-fieldset.govuk-form-group--error) {
    padding-left: 1rem;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 0.3125rem solid #d4351c;
  }

  & :global(.govuk-tag) {
    text-transform: inherit;
    letter-spacing: 0;
    font-weight: normal;
  }
  & :global(.govuk-button) {
    width: fit-content;
  }
}
.errorSummaryWrapper {
  margin-top: 1rem;
  max-width: 30rem;
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  & :global(.govuk-error-summary__body) {
    margin-top: 1rem;
  }
}
