.chargesSummaryPage {
  & :global(.govuk-details) {
    margin-bottom: 0.625rem;
  }
  & :global(.govuk-summary-list) {
    margin-bottom: 0.3125rem;
  }
  & .chargesSummaryWrapper {
    margin-bottom: 3.75rem;
  }
  & .chargeWrapper {
    margin-bottom: 3rem;
  }
}
