.addChargeDetailsPage {
  .resultsDivider {
    border: none;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #b1b4b6;
  }
  .dateInputsWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.625rem;

    @media (min-width: 40.0625em) {
      flex-direction: row;
      align-items: flex-end;
    }

    .dateInput {
      width: 15rem;
    }
    & :global(.govuk-error-message) {
      max-width: 15.625rem;
    }
    & :global(.govuk-button) {
      margin-bottom: 0;
      width: fit-content;
    }
    & :global(.govuk-form-group) {
      margin-bottom: 0;
    }
  }
}
